<div [ngSwitch]="scanState">
  <p *ngSwitchCase="'START'">
    <ion-button fill="outline" (click)="scan()">Scan QR Code</ion-button>
  </p>
  <p *ngSwitchCase="'SCANNING'">
    Scan in progress...
  </p>
  <p *ngSwitchCase="'RESULTS'">
    {{ data | json }}
    <ion-card *ngIf="user.firstName">
      <ion-card-header>
        <ion-card-subtitle>{{user.wing}} - {{ user.flatNo }}</ion-card-subtitle>
        <ion-card-title>{{ user.firstName + ' ' + user.lastName}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <strong>Type</strong>
            </ion-col>
            <ion-col>
              {{ user.isResident? 'Resident' : 'Guest' }}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <strong>Contact No</strong>
            </ion-col>
            <ion-col>
              +91 {{ user.contactNo}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="user.errorMsg">
      {{ user.errorMsg }}
    </ion-card>
    <ion-button (click)="scanState='START'" fill="outline">Back to Scan</ion-button>
  </p>
</div>
